/* body{
    background-color: black;
}
.game{
    color: white;
    background-color: rgb(89, 155, 89);
    width: 800px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    height: 300px;
}
.box1{
    float: left;
    margin-left: 250px;
    margin-top: 60px;
    font-size: 50px;
}
.btn1{
    
    

} */